﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cssselect.aspx.cs" Inherits="JQueryCourse.cssselect" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="Scripts/jquery-2.1.3.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
